<nav class="navbar navbar-expand-xl navbar-light bg-light fs-5">
    <div class="container">
      <a class="navbar-brand" href="index">
        <img class="logo-img img-fluid" src="/images/logo.png" alt="The North Face Logo" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/index">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/men" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Men
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/men#jackets">Jackets</a>
              </li>
              <li>
                <a class="dropdown-item" href="/men#t-shirts">T-Shirts</a>
              </li>
              <li>
                <a class="dropdown-item" href="/men#bottoms">bottoms</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/women" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Women
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/women#jackets">Jackets</a>
              </li>
              <li>
                <a class="dropdown-item" href="/women#t-shirts">T-Shirts</a>
              </li>
              <li>
                <a class="dropdown-item" href="/women#bottoms">bottoms</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/kids" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Kids
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/kids#jackets">Jackets</a>
              </li>
              <li>
                <a class="dropdown-item" href="/kids#t-shirts">T-Shirts</a>
              </li>
              <li>
                <a class="dropdown-item" href="/kids#bottoms">bottoms</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/shoes">Shoes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bags">Bags</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/careers">Careers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
        </ul>
        <li class="nav-item">
          <button class="btn btn-outline-primary m-2">
            <a class="nav-link" href="/myaccount">My Account</a>
          </button>
        </li>
        <li class="shoppingicon nav-item">
          <i class="bx bx bx-shopping-bag fs-3" id="cart-bag"></i>
          <span id="total-items-display" class="cart-number fs-3">0</span>
        </li>
        <div class="cart">
          <h2 class="cart-title">Your Cart</h2>
          <div class="cart-content"></div>
          <div class="total">
            <div class="total-title">Total</div>
            <div class="total-price">0$</div>
          </div>
          <button type="button" class="btn btn-buy btn-primary">
            <a href="checkout" class="btn">Buy Now</a>
          </button>
          <i class="bx bx-x" id="close-cart"></i>
        </div>
      </div>
    </div>
  </nav>